###############################################################################
# Git
###############################################################################

.git
.gitignore

###############################################################################
# Python
###############################################################################

.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

###############################################################################
# Testing
###############################################################################

.pytest_cache/
.ruff_cache/
.mypy_cache/
htmlcov/
.coverage

###############################################################################
# Runtime
###############################################################################

logs/
*.log

###############################################################################
# MLflow
###############################################################################

mlruns/
mlartifacts/
mlflow.db
mlflow-backup.db

###############################################################################
# Airflow Runtime
###############################################################################

airflow/logs/
airflow/plugins/__pycache__/

###############################################################################
# Monitoring Outputs
###############################################################################

monitoring/current/
monitoring/reference/
monitoring/reports/

###############################################################################
# Artifacts
###############################################################################

artifacts/*
!artifacts/machineguard_pipeline.joblib

###############################################################################
# Data
###############################################################################

data/raw/
data/processed/
data/reference/
data/current/

###############################################################################
# IDE
###############################################################################

.vscode/
.idea/

###############################################################################
# OS Files
###############################################################################

Thumbs.db
.DS_Store

###############################################################################
# Misc
###############################################################################

New Text Document.txt
airflow-build-error.txt