pandas
numpy
scikit-learn
imbalanced-learn
pandera
pyyaml
joblib

mlflow
psycopg2-binary
boto3

fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

streamlit
requests
plotly

evidently

prometheus-client
prometheus-fastapi-instrumentator

pytest
pytest-cov
httpx

ruff
mypy
types-PyYAML